.biter {
    height: 78px;
    width: 78px;
    background: url("../images/biter.png");
    background-size: contain;
}

.grinder {
    height: 80px;
    width: 80px;
    background: url("../images/grinder.png");
    background-size: contain;
}

.king {
    background-color: rgba(217, 0, 255, 0.767);
}

.grinder-king {
    background: url("../images/bouncing-grinder.png");
    background-size: contain;
}

.biter-king {
    background: url("../images/bouncing-booty.png");
    background-size: contain;
}

.grinder-king. .biter-king {
    position: relative;
    animation: kingbounce 0.5s infinite linear;
}

.animate {
    animation: activeChar 0.5s infinite linear;
}

@keyframes activeChar {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(1deg);
    }
    20% {
        transform: rotate(2deg);
    }
    30% {
        transform: rotate(4deg);
    }
    40% {
        transform: rotate(2deg);
    }
    60% {
        transform: rotate(-1deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    95% {
        transform: rotate(-1deg);
    }
}

.animate-king {
    animation: kingbounce 0.5s infinite linear;
}

@keyframes kingbounce {
    0% {
        top: 0;
    }
    25% {
        top: -2vh;
    }
    75% {
        top: 4vh;
    }
}
