.controls {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.controlBtn {
    width: fit-content;
    line-height: 2rem;
    font-weight: 600;
    background-color: red;
    border: 2px solid black;
    padding: 5px;
    display: inline-block;
    margin: 0 5%;
    border-radius: .5rem;
}
.controlBtn:hover {
    border-color: white;
}

.turn_box {
    font-size: 3rem;
    font-weight: 600;
}

.colorBox {
    background-color: rgba(0, 38, 255, 0.65);
    border-radius: .5rem;

}

.board {
    background: url('../images/dungeon-1000px.jpg');
    background-size: cover;
    box-sizing: unset;
}

.board {
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
    border-radius: .5rem;
    padding: 5px;
}

.player1 {
    border: silver 5px solid;
}

.player2 {
    border: gold 5px solid;
}

.square {
    height: 12%;
    width: 12%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square:hover {
    background-color: rgba(255, 136, 0, 0.644)
}

.highlight {
    background-color: rgba(255, 136, 0, 0.644)
}

.select {
    background-color: rgba(255, 17, 0, 0.644);
}

.picker {
    display: inline-block;
    height: 5rem !important;
    width: 5rem !important;
    margin: 0 1rem;
}
